.camperDetails {
  padding: 48px 0;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.description {
  color: var(--color-text-secondary);
}

.tabs {
  margin-top: 60px;
}

.tabsContent {
  margin-top: 44px;
  display: flex;
  gap: 40px;
  align-items: stretch;
  height: 588px;
}

.tab {
  flex: 1;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 44px 52px;
  background-color: var(--color-background-light);
  border-radius: 10px;
  height: 100%;
}
