.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filterTitle {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-text-secondary);
  font-weight: 500;
}

.searchButton {
  align-self: flex-start;
}
