.button {
  display: block;
  text-decoration: none;
  height: 56px;
  min-width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  font-weight: 500;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.filled {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.filled:hover {
  background-color: var(--color-primary-hover);
}

.outline {
  border: 1px solid var(--color-border);
  color: var(--color-text);
}

.outline:hover {
  border-color: var(--color-primary-hover);
}
